<h1>IP Address:</h1>
<%= current_visitor %><br>


<%= current_visitor.ip_address %><br>
<%= current_visitor.mobile %><br>
<%= current_visitor.page_visits %><br>
<%= current_visitor.last_visit %><br>
<%= current_visitor.country %>