
<div id="form">
  <h1 id="create">Let's create!</h1>
  <%= form_for @contact  do |f| %>
   <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="field" id="message">
      <%= f.label :message %>
      <%= f.text_field :message %>
    </div>
    <div class="actions"><%= f.submit "Submit" %></div>
  <% end %>
</div>
</div>